<app-header-menu></app-header-menu>

<div class="edit-advert-box">

  <div class="title">
    <div class="advert-info-title">Modification de l'annonce</div>
  </div>

  <form [formGroup]="advertForm" id="form" class="information" enctype="multipart/form-data" (ngSubmit)="onSubmit()">

    <div class="information">
      
      <div class="box-information">
        
        <div class="title-desc">
          <div class="title">
            <div class="title-label">
              <label for="title">Titre</label>
            </div>
            <div class="title-input">
              <input formControlName="title" type="text" id="title" name="title" value="{{ advert.title }}">
            </div>
          </div>
          <div class="description">
            <div class="description-label">
              <label for="description">Description</label>
            </div>
            <div class="description-input">
              <textarea formControlName="description" id="description" name="description" value="{{ advert.description }}"></textarea>
            </div>
          </div>
        </div>
        
        <div class="price-picture-path">
          <div class="price-picture-path">
            <div class="price">
              <div class="price-label">
                <label for="price">Prix</label>
              </div>
              <div class="price-input">
                <input formControlName="price" type="text" id="price" name="price" value="{{ advert.price }}" required>
              </div>
            </div>
            <div class="picture-path">
              
            </div>
          </div>
          <div class="picture">
            <input formControlName="picture" type=file id="picture" name="picture" accept="image/png, image/jpeg" value="../AdvertPictures/idAdvert.png">
          </div>
        </div>
      
      </div>
    
      <div class="edit-advert-button">
        <button class="button" type="submit">Modifier l'annonce</button>
      </div>
      
    </div>
  </form>
  
</div>
