<app-header-menu></app-header-menu>

<!-- Page a afficher si l'utilisateur est connecté -->
<div *ngIf="isLogged" class="AvailableAdverts">
  <div class="AvailableAdvertsTitle">
    <h1 class="AvailableAdvertsTitleText">Mes annonces</h1>
  </div>
  <div class="AdvertList">
    <div class="Arrow">
      <img class="LeftArrowImage" src="../../assets/Accueil/LeftArrow.png" (click)="left()">
    </div>

    <div *ngIf="adverts.length >= 1" class="AdvertListList">
      <!-- Left Advert -->
      <div [ngClass]="adverts[i].status == 'NORMAL' ? 'Advert' : 'Advert AdvertGray'">
        <div class="AdvertPicture">
          <img class="AdvertPictureImage" src="../../assets/Accueil/voiture.jpg">
        </div>
        <div class="AdvertTitle">
          <h1 class="AdvertTitleText">{{adverts[i].title}}</h1>
        </div>
        <div class="AdvertDescription">
          <h1 class="AdvertDescriptionText">Description</h1>
          <p class="AdvertDescriptionTextContent">
            {{adverts[i].description}}
          </p>
        </div>
        <div class="AdvertPrice">
          <h1 class="AdvertPriceText">{{adverts[i].price}} €</h1>
        </div>
        <div class="ModifyButton">
          <div class="modify-button"><button class="button modify-button button-modify-advert"  (click)="onClick(adverts[i])">Modifier</button></div>
        </div>
      </div>
      <!-- Right Advert -->
      <div *ngIf="(i+1) < adverts.length" [ngClass]="adverts[i+1].status == 'NORMAL' ? 'Advert' : 'Advert AdvertGray'">
        <div class="AdvertPicture">
          <img class="AdvertPictureImage" src="../../assets/Accueil/voiture.jpg">
        </div>
        <div class="AdvertTitle">
          <h1 class="AdvertTitleText">{{adverts[i+1].title}}</h1>
        </div>
        <div class="AdvertDescription">
          <h1 class="AdvertDescriptionText">Description</h1>
          <p class="AdvertDescriptionTextContent">
            {{adverts[i+1].description}}
          </p>
        </div>
        <div class="AdvertPrice">
          <h1 class="AdvertPriceText">{{adverts[i+1].price}} €</h1>
        </div>
        <div class="ModifyButton">
          <div *ngIf="adverts[i+1].status == 'NORMAL'" class="modify-button"><button class="button modify-button button-modify-advert" (click)="onClick(adverts[i+1])">Modifier</button></div>
        </div>
      </div>
    </div>

    <div class="Arrow">
      <img class="RightArrowImage" src="../../assets/Accueil/RightArrow.png" (click)="right()">
    </div>
  </div>
</div>

<!-- Page a afficher si l'utilisateur n'est pas connecté -->
<div *ngIf="!isLogged" class="test">
  <p>Vous devez être connecté pour voir vos annonces</p>
</div>
