@import "../../variables.scss";

.body {
  height: 100vh;
  margin: 0;
  background-color: $background-color;
}

.AvailableAdverts {
  background-color: $background-color;
  display: flexbuttonMyAdvert;
  flex-direction: column;
  // justify-content: center;
  width: 100%;
  height: 100%;
  font-family: $font-family;
}

.AvailableAdvertsTitleText {
  color: $primary-color;
  text-align: center;
}

.AdvertList {
  background-color: $background-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Répartit l'espace disponible entre les éléments */
}

.AdvertListList {
  background-color: $background-color;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.Advert {
  /* Divise la largeur par deux pour que les deux div aient la même largeur */
  // width: 50%;
  float: left; /* Permet aux div internes de s'aligner côte à côte */
  box-sizing: border-box; /* Assurez-vous que la boîte du modèle de mise en page est configurée correctement */
  border: 1px solid;
  border-radius: 2em;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.AdvertGray {
  filter:alpha(opacity=50);   /* IE */
  -moz-opacity:0.5;           /* Firefox */
  opacity: 0.5;               /* standard CSS3 */
  -khtml-opacity: 0.5;        /* Konqueror */
}

.Advert:hover {
  transform: scale(1.05);
  transition: all 0.3s ease 0s;
}

.AdvertPicture {
  // border: 1px solid;
  border-radius: 2em;
  margin: 10px;
  justify-content: center;

}

.AdvertPictureImage {
  justify-content: center;
  margin: 10px;
}

.AdvertTitle {
  // border: 1px solid;
  border-radius: 2em;
  margin: 10px;
  justify-content: center;
}

.AdvertTitleText {
  justify-content: center;
  margin: 10px;
  color: $primary-color;
}


.AdvertDescription {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 10px;
  min-height: 15em;
  max-height: 15em;
  overflow-y: auto;
}
.AdvertDescription::-webkit-scrollbar {
  display: none;
}

.AdvertDescriptionText {
  margin: 10px;
  color: $primary-color;
}

.AdvertDescriptionTextContent {
  text-align: left;
  margin: 10px;
}

.AdvertPrice {
  border-radius: 2em;
  margin: 10px;
}

.AdvertPriceText {
  margin: 10px;
  color: $primary-color;
}

.Arrow {
  flex: 0 0 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.LeftArrowImage:hover {
  transform: scale(1.5);
  transition: all 0.3s ease 0s;
}
.RightArrowImage:hover {
  transform: scale(1.5);
  transition: all 0.3s ease 0s;
}

.LeftArrowImage {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease 0s;
}

.RightArrowImage {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease 0s;
}

.button {
  text-align: center;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 10em;
  font-size: large;
  transition: all 0.3s ease 0s;
  padding: 0.5em;
}

.button:hover {
  transform: scale(1.05);
  color: black;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.ModifyButton{
  margin-bottom: 1em;
  margin-top: 1em;
}

.modify-button{
  font-size: x-large;
}
