<app-header-menu></app-header-menu>

<div class="AvailableAdverts">
  <div class="AvailableAdvertsTitle">
    <h1 class="AvailableAdvertsTitleText">Les annonces disponibles</h1>
  </div>
  <div class="AdvertList">
    <div class="Arrow">
      <img class="LeftArrowImage" src="../../assets/Accueil/LeftArrow.png" (click)="left()">
    </div>

    <div *ngIf="adverts.length >= 1" class="AdvertListList">
      <!-- Left Advert -->
      <div class="Advert" (click)="onClick(adverts[i])">
        <div class="AdvertPicture">
          <img class="AdvertPictureImage" src="../../assets/Accueil/voiture.jpg">
        </div>
        <div class="AdvertTitle">
          <h1 class="AdvertTitleText">{{adverts[i].title}}</h1>
        </div>
        <div class="AdvertDescription">
          <h1 class="AdvertDescriptionText">Description</h1>
          <p class="AdvertDescriptionTextContent">
            {{adverts[i].description}}
          </p>
        </div>
        <div class="AdvertPrice">
          <h1 class="AdvertPriceText">{{adverts[i].price}} €</h1>
        </div>
      </div>
      <!-- Right Advert -->
      <div class="Advert" *ngIf="(i+1) < adverts.length" (click)="onClick(adverts[i+1])">
        <div class="AdvertPicture">
          <img class="AdvertPictureImage" src="../../assets/Accueil/voiture.jpg">
        </div>
        <div class="AdvertTitle">
          <h1 class="AdvertTitleText">{{adverts[i+1].title}}</h1>
        </div>
        <div class="AdvertDescription">
          <h1 class="AdvertDescriptionText">Description</h1>
          <p class="AdvertDescriptionTextContent">
            {{adverts[i+1].description}}
          </p>
        </div>
        <div class="AdvertPrice">
          <h1 class="AdvertPriceText">{{adverts[i+1].price}} €</h1>
        </div>
      </div>
    </div>

    <div class="Arrow">
      <img  class="RightArrowImage" src="../../assets/Accueil/RightArrow.png" (click)="right()">
    </div>
  </div>
</div>
