<app-header-menu></app-header-menu>

<div class="body">

  <form class="signin-box" [formGroup]="signInForm" (ngSubmit)="onSubmit()">

    <div class="title">
      <div class="connexion-title">Connexion</div>
    </div>

    <div class="box-information">
      <div class="information">
        <div class="email">
          <label for="email">E-mail</label>
        </div>
        <div class="password">
          <label for="password" >Mot de passe</label>
        </div>
      </div>

      <div class="information-input">
        <div class="email">
          <input type="email" id="email" name="email" formControlName="mail">
        </div>
        <div class="password">
          <input type="password" id="password" name="password" formControlName="password">
        </div>
      </div>
    </div>

    <div *ngIf="formSubmitted && !formValid" class="error-message">
      L'e-mail ou le mot de passe n'est pas valide. Veuillez vérifier vos informations de connexion.
    </div>

    <div class="signin-button">
      <button id="signin-button" class="button signin-button-button" type="submit">Se connecter</button>
    </div>
  </form>
</div>
