@import "../../variables.scss";

body {
  background-color: $background-color;
}

.signin-box {
  background-color: $background-color;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  border: 2px solid;
  margin: auto;
  width: 35%;
  padding: 2%;
}

.signin-box .connexion-title {
  font-family: "Inter-Bold", Helvetica;
  color: $primary-color;
  font-weight: bold;
  text-align: center;
  margin-bottom: 7%;
  font-size: xx-large;
}

.signin-box .box-information {
  display: flex;
  flex-direction: row;
  // margin-left: 20%;
  justify-content: center;
}

.signin-box .information {
  margin-right: 1em;
}

.signin-box .information .email {
  margin-bottom: 1.25em;
}

.signin-box .information-input .email {
  padding-right: 1em;
  margin-bottom: 1em;
}

.signin-box .information-input .password input {
  padding-right: 1em;
}

.error-message {
  color: red;
}

.signin-box .signin-button {
  margin-top: 5%;
  text-align: center;
}


.signin-box .signin-button button {
  margin-top: 5%;
  text-align: center;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 10em;
  padding: 2%;
  font-size: large;
  transition: all 0.3s ease 0s;
}

.signin-box .signin-button button:hover {
  transform: scale(1.05);
  color: black;
  transition: all 0.3s ease 0s;
}
