<app-header-menu></app-header-menu>

<body>
<div class="body">

  <form [formGroup]="clientForm" id="form" class="information" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
    <div class="editprofile-box">
      
      <div class="title">
        <div class="edit-title">Modifier profil</div>
      </div>
      
      <div class="box-information">
        
        <div class="information">
          <div class="last-name">
            <label for="last-name">Nom</label>
          </div>
          <div class="first-name">
            <label for="first-name">Prénom</label>
          </div>
          <div class="email">
            <label for="email">E-mail</label>
          </div>
        </div>
        
        <div class="information-input">
          <div class="last-name">
            <input formControlName="lastName" type="text" id="last-name" name="last-name" value="{{ client.lastName }}" required>
          </div>
          <div class="first-name">
            <input formControlName="firstName" type="text" id="first-name" name="first-name" value="{{ client.firstName }}">
          </div>
          <div class="email">
            <input formControlName="mail" type="email" id="email" name="email" value="{{ client.mail }}">
          </div>
        </div>
        
      </div>
      
      <div *ngIf="formSubmitted && !formValid" class="error-message">Veuillez remplir tous les champs du formulaire correctement.</div>
      
      <div *ngIf="isMailUsed" class="error-message">Erreur lors de la modification du profil (email déjà utilisé)</div>

      <div class="editprofile-button">
        <button class="button" type="submit">Modifier</button>
      </div>
      
    </div>
  </form>
    
</div>
</body>
