$background-color: rgba(254, 253, 251, 1);
$secondary-color: rgba(196, 216, 243, 1);
$primary-color: rgba(255, 143, 0, 1);
$transparent: rgba(165, 166, 246, 0);



body .editprofile-box {
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  border: 0.2em solid;
  margin: auto;
  width: 50%;
  padding: 2%;
}

.editprofile-box .edit-title {
  font-family: "Inter-Bold", Helvetica;
  color: $primary-color;
  font-weight: bold;
  text-align: center;
  margin-bottom: 7%;
  font-size: xx-large;
}

.editprofile-box .box-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.editprofile-box .information {
  margin-right: 1em;
  font-size: large;
}

.editprofile-box .information .last-name, .first-name, .email{
  margin-bottom: 1em;
  font-size: large;
}

.editprofile-box .information-input .last-name, .email{
  margin-bottom: 1em;
  font-size: large;
}

.editprofile-box .information-input .first-name {
  margin-bottom: 0.7em;
}

.conditions {
  min-height: 6em;
}


.editprofile-box .conditions .list-conditions {
  font-size: 11pt;
  padding: 0;
}

.invalid-condition {
  color: red;
}

.valid-condition {
  color: green;
}

.error-message {
  color: red;
}


.editprofile-box .editprofile-button {
  text-align: center;
}

.editprofile-box .editprofile-button button{
  text-align: center;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 10em;
  padding: 2%;
  font-size: large;
}

.editprofile-box .editprofile-button button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease 0s;
}
