@import "../../variables.scss";

.create-advert-box {
  background-color: $background-color;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  border: 0.2em solid;
  margin: auto;
  width: 50%;
  padding: 2%;
}

.create-advert-box .advert-info-title {
  font-family: "Inter-Bold", Helvetica;
  color: $primary-color;
  font-weight: bold;
  text-align: center;
  margin-bottom: 7%;
  font-size: xx-large;
}

.create-advert-box .box-information .title-desc .title {
  margin-bottom: 3%;
  display: flex;
}

.create-advert-box .box-information .title-desc .title .title-label {
  margin-right: 2%;
}

.create-advert-box .box-information .title-desc .description .description-input #description{
  min-height:10em;
  width:30em;
  overflow: auto;
  margin-bottom: 3%;
  max-width: 100%;
}

.create-advert-box .box-information .price-picture-path {
  margin-bottom: 8%;
}

.create-advert-box .box-information .price-picture-path .price {
  margin-bottom: 3%;
  display: flex;
}

.create-advert-box .box-information .price-picture-path .price .price-label{
  margin-right: 2%;
}


.create-advert-box .create-advert-button {
  text-align: center;
}

.create-advert-box .create-advert-button button{
  text-align: center;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 10em;
  padding: 2%;
  font-size: large;
  transition: all 0.3s ease 0s;
}

.create-advert-box .create-advert-button button:hover {
  transform: scale(1.05);
  color: black;
  transition: all 0.3s ease 0s;
}
