<app-header-menu></app-header-menu>

<div *ngIf="isLogged" class="create-advert-box">

  <div class="title">
    <div class="advert-info-title">Informations de l'annonce</div>
  </div>

  <form [formGroup]="advertForm" id="form" class="information" enctype="multipart/form-data" (ngSubmit)="onSubmit()">

    <div class="box-information">

      <div class="title-desc">
        <div class="title">
          <div class="title-label">
            <label for="title">Titre</label>
          </div>
          <div class="title-input">
            <input formControlName="title" type="text" id="title" name="title" >
          </div>
        </div>
        <div class="description">
          <div class="description-label">
            <label for="description">Description</label>
          </div>
          <div class="description-input">
            <textarea id="description" name="description" formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div class="price-picture-path">
        <div class="price-picture-path">
          <div class="price">
            <div class="price-label">
              <label for="price">Prix</label>
            </div>
            <div class="price-input">
              <input type="text" id="price" name="price" required formControlName="price">
            </div>
          </div>
          <div class="picture-path">

          </div>
        </div>
        <div class="picture">
          <input type=file id="picture" name="picture" accept="image/png, image/jpeg" formControlName="picture">
        </div>
      </div>

    </div>

    <div *ngIf="formSubmitted && !formValid" class="error-message">Veuillez remplir tous les champs du formulaire correctement.</div>
    <div *ngIf="!isTitleValid" class="error-message">L'annonce doit avoir un titre valide</div>
    <div *ngIf="!isDescriptionValid" class="error-message">L'annonce doit avoir une description valide</div>
    <div *ngIf="!isPriceValid" class="error-message">L'annonce doit avoir un prix valide</div>

    <div class="create-advert-button">
      <button class="button" type="submit">Créer l'annonce</button>
    </div>

  </form>

</div>

<!-- Page a afficher si l'utilisateur n'est pas connecté -->
<div *ngIf="!isLogged" class="test">
  <p>Vous devez être connecté pour voir vos annonces</p>
</div>
