@import "../../variables.scss";


.border-solid{
  border: 1px solid;
}

.border-round{
  border-radius: 2em;
}

.div-1-1{
}

.div-1-2{
  display: flex;
  flex-direction: row;
}

.div-1-3{
  display: flex;
  flex-direction: row;
}

.div-2-1{
  display: flex;
  flex-direction: column;
}

.div-3-1{
  display: flex;
  flex-direction: column;
}

.margin {
  margin: 1em;
}

.button {
  text-align: center;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 10em;
  font-size: large;
  transition: all 0.3s ease 0s;
  padding: 0.5em;
}

.button:hover {
  transform: scale(1.05);
  color: black;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.space-envenly{
  place-content: space-evenly;
}

.space-envenly{
    place-content: space-evenly;
}

.main{
  width: 80%;
  margin: auto;
}

.advert-info{
  width: 100%;
  margin: inherit
}

.text-center{
  text-align: center;
}

.label-title{
  color: $primary-color;
  font-size: xx-large;
  font-weight: bold;
}

.label-price{
  font-size: xx-large;
}

.div-img-picture{
  align-self: center;
}

.div-title{
  text-align: center;
}

.div-price{
  width: 33.33%;
  text-align: center;

}

.div-buttons{
  width: 100%;
  align-items: center;
}

.div-button{
  width: 33.33%;
  text-align: center;
  align-items: center;
}

.div-description{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 10px;
  min-height: 15em;
  max-height: 15em;
  overflow-y: auto;
}

.div-description::-webkit-scrollbar {
  display: none;
}

.button-make-offer, .button-buy{
  padding: 1em;
}
