<app-header-menu></app-header-menu>

<div *ngIf="advert" class="div-1-1 border-solid border-round main">
  <div class="div-2-1 margin">
    <div class="div-1-2">
      <div class="div-1-1  border-round margin div-img-picture">
        <img src="../../assets/Accueil/voiture.jpg" alt="" class="img-picture border-round">
      </div>
      <div class="div-3-1 space-envenly advert-info margin">
        <div class="div-1-1  border-round div-title" >
          <p class="label-title text-center">{{advert.title}}</p>
        </div>
        <div class="div-1-3 space-envenly div-buttons">
          <div class="div-1-1 border-round div-button">
            <button class="button button-make-offer">Faire une offre</button>
          </div>
          <div class="div-1-1 border-round div-price">
            <p class="label-price">{{advert.price}} €</p>
          </div>
          <div class="div-1-1 border-round div-button">
            <button class="button button-buy" (click)="buyAdvert()">Acheter</button>
          </div>
        </div>
      </div>
    </div>
    <div class="div-1-1 div-description">
      <p class="label-description">{{advert.description}}</p>
    </div>
  </div>
</div>
















