@import "../../variables.scss";

body {
  background-color: $background-color;
}

.signup-box {
  background-color: $background-color;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  border: 0.2em solid;
  margin: auto;
  width: 50%;
  padding: 2%;
}

.signup-box .inscription-title {
  font-family: "Inter-Bold", Helvetica;
  color: $primary-color;
  font-weight: bold;
  text-align: center;
  margin-bottom: 7%;
  font-size: xx-large;
}

.signup-box .box-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signup-box .information {
  margin-right: 1em;
  font-size: large;
}

.signup-box .information .last-name, .first-name, .email{
  margin-bottom: 1em;
  font-size: large;
}

.signup-box .information-input .last-name, .email{
  margin-bottom: 1em;
  font-size: large;
}

.signup-box .information-input .first-name {
  margin-bottom: 0.7em;
}

.conditions {
  min-height: 6em;
  display: flex;
}


.signup-box .conditions .list-conditions {
  font-size: 11pt;
  padding: 0;
}

.invalid-condition {
  color: red;
}

.valid-condition {
  color: green;
}

.error-message {
  color: red;
}


.signup-box .signup-button {
  text-align: center;
}

.signup-box .signup-button button{
  text-align: center;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 10em;
  padding: 2%;
  font-size: large;
  transition: all 0.3s ease 0s;
}

.signup-box .signup-button button:hover {
  transform: scale(1.05);
  color: black;
  transition: all 0.3s ease 0s;
}
