<app-header-menu></app-header-menu>

<div class="signup-box">

  <div class="title">
    <div class="inscription-title">Inscription</div>
  </div>

  <form id="signUp" class="box-information" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

    <div class="information">
      <div class="box-information">

        <div class="information">
          <div class="last-name">
            <label for="last-name">Nom</label>
          </div>
          <div class="first-name">
            <label for="first-name">Prénom</label>
          </div>
          <div class="email">
            <label for="email">E-mail</label>
          </div>
          <div class="password">
            <label for="password">Mot de passe</label>
          </div>
        </div>

        <div class="information-input">
          <div class="last-name">
            <input type="text" id="last-name" name="last-name" formControlName="lastName">
          </div>
          <div class="first-name">
            <input type="text" id="first-name" name="first-name" formControlName="firstName">
          </div>
          <div class="email">
            <input type="email" id="email" name="email" formControlName="mail">
          </div>
          <div class="password">
            <input type="password" id="password" name="password" [(ngModel)]="passwordInputContent" (input)="updatePasswordValidation()" formControlName="password">
          </div>

          <div class="conditions">
            <ul class="list-conditions" *ngIf="passwordInputContent.trim() != ''">
              <li [ngClass]="{'invalid-condition': !isLengthValid, 'valid-condition': isLengthValid}">Au moins 8 caractères</li>
              <li [ngClass]="{'invalid-condition': !hasUppercase, 'valid-condition': hasUppercase}">Au moins une majuscule</li>
              <li [ngClass]= "{'invalid-condition': !hasLowercase, 'valid-condition': hasLowercase}">Au moins une minuscule</li>
              <li [ngClass]="{'invalid-condition': !hasSpecialChar, 'valid-condition': hasSpecialChar}">Au moins un caractère spécial</li>
            </ul>
          </div>
        </div>

      </div>

      <div *ngIf="formSubmitted && !formValid" class="error-message">Veuillez remplir tous les champs du formulaire correctement.</div>
      <div *ngIf="emailTaken" class="error-message">Cette adresse mail est déjà utilisée.</div>

      <div class="signup-button">
        <button class="button button-sign-up" (click)="submitForm()">S’inscrire</button>
      </div>

    </div>
  </form>
</div>

