<div class="headerMenu">
  <div class="left">
    <div class="Title" (click)="goAccueil()">
      <div class="logo"><img src="../../assets/Accueil/logo_64.png" alt="" (click)="goAccueil()"></div>
      <h1 class="title" (click)="goAccueil()">P'tiCoin</h1>
    </div>

    <div *ngIf="isLogged" class="AddAdvert">
      <div class="MyAdvertButton"><button class="buttonAddAdvert" (click)="goCreateAdvert()">+ Déposer une annonce</button></div>

    </div>
  </div>
  <div class="center">
  </div>
  <div class="right">
    <div class="g">
      <div *ngIf="isLogged" class="MyAdvert">
        <div class="MyAdvertButton"><button class="buttonMyAdvert" (click)="goMyAdverts()">Mes annonces</button></div>

      </div>
    </div>
    <div class="d">
      <div *ngIf="!isLogged" class="SignNotLogged">
        <div class="signup-button"><button class="button" (click)="goSignUp()">S'inscrire</button></div>
        <div class="signin-button"><button class="button button-login" (click)="goSignIn()">Se connecter</button></div>
      </div>
      <div *ngIf="isLogged" class="SignLogged">

        <div class="profile-name"><p class="name">{{connectedUser.firstName}} {{connectedUser.lastName}}</p></div>
        <div class="myprofile-button"><button class="button button-edit-profile" (click)="goEditProfile()">Mon profil</button></div>
        <div class="signout-button"><button class="button" (click)="disconnect()">Se déconnecter</button></div>
      </div>
    </div>
  </div>
</div>
