@import "../../variables.scss";


.headerMenu {
  flex-direction: row;
  flex: 1;
  border-bottom: 2px solid $primary-color;
  display: flex;
  flex-wrap: nowrap; /* Empêche le renvoi à la ligne des éléments flexibles */
  justify-content: space-between; /* Répartit l'espace disponible entre les éléments */
  align-items: stretch; /* Étire les éléments pour occuper toute la hauteur de la ligne */
  background-color: $background-color;
  margin-bottom: 2em;
  box-sizing: border-box;
}

.headerMenu .center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}


.headerMenu .left .title {
  flex: 1;
  text-align: center;
  color: $primary-color;
  font-family: $font-family;
  margin-right: 2em;
}

.headerMenu .left .Title {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.signin-box .signin-button {
  margin-top: 5%;
  text-align: center;
}

.SignNotLogged {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.SignLogged {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.signup-button {
  margin-bottom: 1em;
}

.left {
  margin-left: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right {
  margin-right: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right .g {
  margin-right: 10em;
}

.myprofile-button {
  margin-bottom: 0.3em;
}

.signout-button {
  margin-bottom: 0.3em;
}


.button {
  text-align: center;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 10em;
  font-size: large;
  transition: all 0.3s ease 0s;
}

.button:hover {
  transform: scale(1.05);
  color: black;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.buttonMyAdvert {
  text-align: center;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 10em;
  font-size: x-large;
  height: 2em;
  transition: all 0.3s ease 0s;
}

.buttonMyAdvert:hover {
  transform: scale(1.05);
  color: black;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.buttonAddAdvert {
  margin-left: 2em;
  font-size: x-large;
  text-align: center;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 10em;
  height: 2em;
  transition: all 0.3s ease 0s;
}

.buttonAddAdvert:hover {
  transform: scale(1.05);
  color: black;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.myprofile-button {
  text-align: center;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 10em;
  font-size: larger;
  cursor: default;
  transition: all 0.3s ease 0s;
}

.myprofile-button:hover {
  transform: scale(1.05);
  color: black;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
