/* You can add global styles to this file, and also import other style files */
$background-color: rgb(255, 255, 255);
$secondary-color: rgba(196, 216, 243, 1);
$primary-color: rgba(255, 143, 0, 1);
$transparent: rgba(165, 166, 246, 0);

$font-family: 'Poppins', sans-serif;
